#root {
  height: 100%;
  position: relative;
}
@mixin ellipsis($line: 1) {
  @if $line==1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.ant-layout-has-sider {
  height: 100%;
  position: absolute;
  width: 100%;
}
.site-layout-right {
  flex: 1;
}
.site-layout .site-layout-background {
  background: #fff;
}
.site-layout-header {
  .trigger {
    padding: 0 24px;
    font-size: 25px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #1890ff;
    }
  }
}
.ant-menu-title-content {
  padding-left: 5px;
}
.ant-menu-inline-collapsed {
  .ant-menu-title-content {
    display: none;
  }
  .ant-menu-item {
    display: flex;
    svg {
      transform: scale(1.8);
    }
  }
}
.virtual-table-cell {
  padding-left: 16px;
  padding-top: 16px;
  border-bottom: 1px solid #e8e8e8;
  @include ellipsis;
}
.virtualTable .ant-table-tbody > tr > td > div {
  box-sizing: border-box;
  width: 100%;
  @include ellipsis;
}

.CodeMirror {
  height: 218px !important;
}
.CodeMirror-linenumbers {
  background-color: #fff;
}
.ͼ2 .cm-gutters {
  background-color: #fff;
  border-right: 1px solid #eee;
}
.CodeMirror-activeline-background {
  background: #a2d2ff !important;
}
