#root {
  height: 100%;
  position: relative;
}
.ant-layout-has-sider {
  height: 100%;
  position: absolute;
  width: 100%;
}
.site-layout-right {
  flex: 1;
}
.site-layout .site-layout-background {
  background: #fff;
}
.site-layout-header {
  .trigger {
    padding: 0 24px;
    font-size: 25px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #1890ff;
    }
  }
}
.ant-menu-title-content {
  padding-left: 5px;
}
.ant-menu-inline-collapsed {
  .ant-menu-title-content {
    display: none;
  }
  .ant-menu-item {
    display: flex;
    svg {
      transform: scale(1.8);
    }
  }
}
.virtual-table-cell {
  padding-left: 16px;
  padding-top: 16px;
  border-bottom: 1px solid #e8e8e8;
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.virtual-table {
  col {
    min-width: 100px;
  }
}

.virtual-table .ant-table-container:before,
.virtual-table .ant-table-container:after {
  display: none;
}

.CodeMirror {
  height: 218px !important;
}
.CodeMirror-linenumbers {
  background-color: #fff;
}
.ͼ2 .cm-gutters {
  background-color: #fff;
  border-right: 1px solid #eee;
}
