#root {
  height: 100%;
  position: relative;
}
.ant-layout-has-sider {
  height: 100%;
  position: absolute;
  width: 100%;
}
.site-layout-right {
  flex: 1;
}
.site-layout .site-layout-background {
  background: #fff;
}
.site-layout-header {
  .trigger {
    padding: 0 24px;
    font-size: 25px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #1890ff;
    }
  }
}
.ant-menu-title-content {
  padding-left: 5px;
}
.ant-menu-inline-collapsed {
  .ant-menu-title-content {
    display: none;
  }
  .ant-menu-item {
    display: flex;
    svg {
      width: 30px !important;
      transform: scale(1.8);
    }
  }
}
