.sqlIde {
  position: relative;
  height: 100%;
  overflow-y: auto;
  .topArea {
    position: relative;
    width: 100%;
    top: -10px;
    z-index: 1;
    background-color: #fff;
    .topTitle {
      display: flex;
      justify-content: space-between;
      span.tips {
        display: flex;
        align-items: center;
        span {
          padding-left: 10px;
        }
      }
      .execButton {
        display: flex;
        margin-top: 10px;
      }
    }
    .sqlCodeMirror {
      height: 220px;
      margin-top: 10px;
      border: 1px solid #ccc;
    }
  }
  .tableArea {
    overflow-y: auto;
    .tableTips {
      padding: 10px 0;
      display: flex;
      > div {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
      .indicators {
        span {
          padding-left: 4px;
        }
      }
      .scaleBtn {
        > button {
          display: flex;
          align-items: center;
          svg {
            margin-right: 10px;
          }
        }
        .resultBtn {
          margin-left: 10px;
        }
      }
    }
    .progress {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;
      height: 60%;
    }
    .errorBoard {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      height: 61%;
      background-color: rgba(255, 255, 255);
      flex-direction: column;
      .tips {
        color: #333;
        font-size: 18px;
      }
    }
    .virtualTable {
      width: 100%;
      overflow: auto;
    }
  }
}
