.treeArea {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  .searchInput {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .refreshBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.coppy {
  position: fixed;
  color: #1890ff;
  display: none;
  z-index: 1;
  font-size: 10px;
  > span {
    display: flex;
    flex-direction: column;
  }
}
